<?xml version='1.0' encoding='utf-8'?>
<robot name="abb_crb15000_5_95">
  
  
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="base_link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.3450980 0.3647059 0.3686275 1" />
      </material>
    </visual>
  </link>
  <link name="link_1">
    <visual>
      <geometry>
        <mesh filename="link_1.glb" />
      </geometry>
      <material name="">
        <color rgba="0.3450980 0.3647059 0.3686275 1" />
      </material>
    </visual>
  </link>
  <link name="link_2">
    <visual>
      <geometry>
        <mesh filename="link_2.glb" />
      </geometry>
      <material name="">
        <color rgba="0.3450980 0.3647059 0.3686275 1" />
      </material>
    </visual>
  </link>
  <link name="link_3">
    <visual>
      <geometry>
        <mesh filename="link_3.glb" />
      </geometry>
      <material name="">
        <color rgba="0.3450980 0.3647059 0.3686275 1" />
      </material>
    </visual>
  </link>
  <link name="link_4">
    <visual>
      <geometry>
        <mesh filename="link_4.glb" />
      </geometry>
      <material name="">
        <color rgba="0.7725490 0.7803922 0.7686275 1" />
      </material>
    </visual>
  </link>
  <link name="link_5">
    <visual>
      <geometry>
        <mesh filename="link_5.glb" />
      </geometry>
      <material name="">
        <color rgba="0.7725490 0.7803922 0.7686275 1" />
      </material>
    </visual>
  </link>
  <link name="link_6">
    <visual>
      <geometry>
        <mesh filename="link_6.glb" />
      </geometry>
      <material name="">
        <color rgba="0.8392157 0.8352941 0.7921569 1" />
      </material>
    </visual>
  </link>
  
  
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.265" />
    <axis xyz="0 0 1" />
    <parent link="base_link" />
    <child link="link_1" />
    <limit effort="0" lower="-3.141592653589793" upper="3.141592653589793" velocity="2.181661564992912" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <axis xyz="0 1 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <limit effort="0" lower="-3.141592653589793" upper="3.141592653589793" velocity="2.181661564992912" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.444" />
    <axis xyz="0 1 0" />
    <parent link="link_2" />
    <child link="link_3" />
    <limit effort="0" lower="-3.9269908169872414" upper="1.4835298641951802" velocity="2.443460952792061" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.110" />
    <axis xyz="1 0 0" />
    <parent link="link_3" />
    <child link="link_4" />
    <limit effort="0" lower="-3.141592653589793" upper="3.141592653589793" velocity="3.490658503988659" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="0.470 0 0" />
    <axis xyz="0 1 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <limit effort="0" lower="-3.141592653589793" upper="3.141592653589793" velocity="3.490658503988659" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.101 0 0.080" />
    <axis xyz="1 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <limit effort="0" lower="-3.141592653589793" upper="3.141592653589793" velocity="3.490658503988659" />
  </joint>
  
  
  <link name="base" />
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  
  <link name="flange" />
  <joint name="joint_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  
  <link name="tool0" />
  <joint name="flange-tool0" type="fixed">
    <origin rpy="0 1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
</robot>